img {
    background-color: rgba(255, 255, 255, 0.956);

}


footer {
    display: flex;
    justify-content: center;

    align-items: center;

    height: 100px;

    background-color: #863b3b;

}
td{
  font-size: 50px;
  
}


.modal {
    position: fixed;
    z-index: 1;

    padding-top: 100px;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    position: relative;
    /*align-items: center;
    /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto;
    /* Centrada */
    padding: 20px;
    width: 70% !important;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
    
}

#nombre-pokemon{
  text-align: center;
  background-color:gray;
  color: aliceblue;
}

/* Add Animation */

  
  @keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }


  .close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .card{
    width: 100%;
    height: 100%;
  }

  #imagen-modal{
    width: 30%;
    height: 30%;
    align-items: center;
  }

  #ataques img{
    width: 20px;
    height: 20px;
  }
 