


footer {
    display: flex;
    justify-content: center;

    align-items: center;

    height: 100px;

    background-color: #863b3b;

}
td{
  font-size: 50px;
  
}


.modal {
    position: fixed;
    z-index: 1;

    padding-top: 100px;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    position: relative;
    /*align-items: center;
    /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto;
    /* Centrada */
    padding: 20px;
    width: 70% !important;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
    
}

#nombre-pokemon{
  text-align: center;
  background-color:gray;
  color: aliceblue;
}

/* Add Animation */

  
  @keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }


  .close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .card{
    width: 100%;
    height: 100%;
  }

  #imagen-modal{
    width: 30%;
    height: 30%;
    align-items: center;
  }

  #ataques img{
    width: 20px;
    height: 20px;
  }
  #habilidad{
    color: red;
  }


  table {
    width: 100%;
      max-width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  }

  th, td {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    border: 1px solid #ddd; /* Añadir bordes para mayor claridad */
  }

  /* Hacer que la tabla sea desplazable horizontalmente en pantallas pequeñas */
  @media only screen and (max-width: 600px) {
    .table-container {
      overflow-x: auto;
      display: block;
    }
    th, td {
      display: block;
      width: 100%;
      box-sizing: border-box;
  }
}

#logo{
  width: 30%;
  height: auto;
  margin-left: 40%;
  margin: 0 auto;
  display: block;

  margin-bottom: 40px;
  
  
}


  